@charset "utf-8";
/* CSS Document */

body {
	background-color: #474e5d;
	font-family: "Courier New";
}

h2, h4 {
	color: coral;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333333;
}

li {
	float: left;
	border-right: 1px;
	
}

li a {
	display: block;
	color: aqua;
	text-align: center;
	padding: 15px;
	text-decoration: none;
	font-weight: bold;
}

li a:hover {
	background-color: black;
}

.active {
	background-color: coral;
	color: black;
}
.active:hover {
	background-color: coral;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

.bottomRight {
  position: absolute;
  top: 10px;
  left: 10px;
}

.backImg {
	width: 50%;
	height: auto;
}